{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <p>
        <h3>IPMI Settings</h3>
        <p class="text-justify">
            Configure your IPMI settings here. You username and password are the same as those you use to login to iDRAC. You must enable IPMI in your iDRAC settings.
        </p>
        <p>
            {{ wtf.quick_form(IPMI_form, form_type='horizontal') }}
        </p>
    
    </p>
    <br>
    <p>
        <h3>Manual Fan Control</h3>
        <p class="text-justify">
            To enable this app to control your fans you must enable manual fan control mode. This will disable "auto" fan mode on your server and your fans will <b>no longer respond to temperature changes.</b> Please make sure that your fan settings are suitable for your machine and mointor temperatures accordingly.
        </p>
        <p>
            <a href="{{ url_for('set_manual_mode') }}"><button type="button" class="btn btn-danger btn-block">Enable Manual Fan Control</button></a>
        </p>
    </p>
    <br>
    <p>
        <h3>Start-Up Scripts</h3>
        <p class="text-justify">
            Start up scripts run when the container first launches and can be used to automatically set fan speeds at boot. You must enable the startup script. Manual mode must be enabled to allow fan control. You must pass IPMI credentials and host information through enviroment variables for startup scripts to work.
            {{ wtf.quick_form(startup_form, form_type='horizontal') }}
        </p>
    </p>
    <br>
    <p>
        <h3>Current Startup Paremeters</h3>
        <p>
            {% for k, v in startup_file.items() %}
                {{ k }}: {{ v }}<br>
            {% endfor %}
        </p>
    </p>
    <br><br>


{% endblock %}
